
<div class="col-md-4">
    <h2>Edit User Profile</h2>

    <form {{action 'save' on="submit"}}>
        <dl>
            <dt>Name:<br> {{input value=model.name}}</dt>
            <dt>Email:<br> {{input value=model.email}}</dt>
            <dt>Password:<br> {{input password value=model.password type="password"}}</dt>
        </dl>
        <div class="row">
            <button type="submit" class="btn btn-primary">Done</button>
            <button type="delete" class="btn btn-primary" {{action 'del' on='click'}}>Destroy</button>
        </div>
    </form>
</div>
