<div class="col-md-4">
    <h1>Login</h1>

    <form {{action 'login' on="submit"}}>

        <dl>
            <dt>Email:<br> {{input value=email}}</dt>
            <dt>Password:<br> {{input value=password type="password"}}</dt>
        </dl>
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
</div>