<div class="col-md-4">
    <h1>New User</h1>

    <form {{action 'save' on="submit"}}>

        <dl>
            <dt>Name:<br> {{input value=name}}</dt>
            <dt>Email:<br> {{input value=email}}</dt>
            <dt>Password:<br> {{input value=password type="password"}}</dt>
        </dl>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>