
<div class="row" style="margin:30px; padding:30px;">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header" href="#">
                <a class="navbar-brand" href="#">Blog</a>
            </div>
            {{#if isLoggedIn}}
            <ul class="nav navbar-nav">
                <li>{{#link-to 'users.edit' currentUser.id}}Hi {{currentUser.name}}{{/link-to}}</li>
                <li>{{#link-to 'blogposts'}} Blogposts{{/link-to}}</li>
                <li>{{#link-to 'blogposts.new'}}Add New Post{{/link-to}}</li>
                <li>{{#link-to 'users.logout'}}Log Out{{/link-to}}</li>
            </ul>
            {{else}}
            <ul class="nav navbar-nav">
                <li>{{#link-to 'users.new'}}Sing up{{/link-to}}</li>
                <li>{{#link-to 'users.login'}}Log in{{/link-to}}</li>
            </ul>
            {{/if}}
        </div>
    </nav>
    {{outlet}}
</div>
