<div class="row">
    <div class="col-md-4">
        <h1>BlogPosts</h1>
        {{#each model as |p| }}
            <br>{{#link-to 'blogposts.edit' p.id}} {{p.title}}{{/link-to}}
        {{/each}}
    </div>
    {{outlet}}
</div>