<div class="col-md-4">
    <h1>New BlogPost</h1>

    <form {{action 'save' on="submit"}}>

        <dl>
            <dt>Title:<br> {{textarea value=title cols="80" rows="1"}}</dt>
            <dt>Description:<br> {{textarea value=html cols="80" rows="6"}}</dt>
        </dl>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>